<div class="container-fluid d-flex justify-content-center align-items-center login-form h-100">
    <section class="container">
        <div class="loginForm row row-cols-1 g-0 rounded-4 shadow-lg bg-white">
            <div class=" d-none d-md-block col-md-6 rounded-start h-100">
                <div class="h-100 ">
                    <img src="../../assets/login-form-img.jpeg" class="login-form-img img-fluid rounded-3 w-100 h-100">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center h-100 rounded-4">
                <form class=" w-100 p-5 h-auto" (ngSubmit)="loginForm.valid && onLogin(loginForm)" #loginForm="ngForm">
                    <!-- E-mail input -->
                    <mat-form-field appearance="outline">
                        <mat-label>E-Mail</mat-label>
                        <input type="email" name="email" ngModel matInput placeholder="Ex. abc@example.com"
                            #emailInput="ngModel" required email>
                        <mat-error *ngIf="emailInput.invalid">Please enter a valid Email.</mat-error>
                    </mat-form-field>

                    <!-- Password-input -->
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" name="password" ngModel matInput placeholder="Password"
                            #passwordInput="ngModel" required [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <div class="d-flex flex-column gap-2">
                        <button mat-raised-button type="submit" color="primary"
                            class=" w-100 w-lg-50 d-block mx-auto">Login</button>
                        <p class="text-center mt-2">Don't you have an account? <a
                                class="text-decoration-none text-danger fw-bold" routerLink="/signup">Sign up</a>
                        </p>
                        <!-- <button mat-stroked-button color="accent" type="submit" class=" w-100 w-lg-50 d-block mx-auto"
                            routerLink="/signup">sign up</button> -->
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>