/* .modal-header {
    background-color: #081649;
}

.modal {
    color: #081649;
}

mat-form-field {
    width: 100%;
}

.mat-next-button {
    background-color: #DE3163;
    color: white;

}

.mat-previous-button {
    border: 3px solid #081649;
}

mat-error {
    font-size: 0.8rem;
}

.lookupBtn {
    border: 3px solid #081649;
    font-weight: bold;
}

.file-btn {
    position: relative;
    font-size: 1rem;
    color: #4470c3;
}

input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

a {
    text-decoration: none;
}

.review-title {
    margin-bottom: 5px;
}
.review-data{
    margin-left: 5px;
} */