<section>
    <div class="row row-cols-1">
        <!-- your experience -->
        <div class="col">
            <div class="card shadow border-0 px-2 py-3">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <div>
                            <h4 class="review-title fw-bold">Your Experience</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4 class="review-title fw-bold">what is your feedback?</h4>
                            <h4>Comments and Compliants </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Personal Information -->
        <div class="col">
            <div class="card shadow border-0 px-2 py-3 mt-3">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <h4 class="review-title fw-bold">Personal Information</h4>
                        <a role="button" (click)="moveToFirstForm(0)">Edit</a>
                    </div>
                    <div class="col">
                        <div>
                            <h4 class="review-data">{{firstFormGroup.firstName}}</h4>
                            <div>
                                <h4 class="review-title fw-bold">Contact Information</h4>
                                <h4>{{firstFormGroup.phoneNumber}}</h4>
                                <h4>{{firstFormGroup.email}}</h4>
                            </div>
                            <div>
                                <h4 class="review-title fw-bold">Address</h4>
                                <h4>{{firstFormGroup.address1}}</h4>
                                <h4>{{firstFormGroup.state}}</h4>
                                <h4>{{firstFormGroup.country}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4 class="fw-bold">Airline Program </h4>
                            <h4>{{firstFormGroup.airlineProgram}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comments and Details -->
            <div class="col">
                <div class="card shadow border-0 px-2 py-3 mt-3">
                    <div class="row row-cols-1 row-cols-lg-3">
                        <div class="col">
                            <div>
                                <h4 class="review-title fw-bold"> Comment Details</h4>
                                <a role="button" (click)="moveToSecondForm(1)">Edit</a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <div>
                                    <h4 class="review-title fw-bold">Flight Information</h4>
                                    <h4>{{secondFormGroup.dateOfFlight |
                                        date:'shortDate'}}</h4>
                                </div>
                                <div>
                                    <h4>{{secondFormGroup.origin}} to
                                        {{secondFormGroup.destination}}</h4>
                                    <h4>{{secondFormGroup.flightName | titlecase }}</h4>
                                    <h4 class="review-title fw-bold"> Flight Number </h4>
                                    <h4>{{secondFormGroup.flightNumber}}</h4>
                                </div>
                                <div>
                                    <h4 class="review-title fw-bold">Ticket Number</h4>
                                    <h4>{{secondFormGroup.ticket}}</h4>
                                    <h4 *ngIf="!secondFormGroup.ticket">-</h4>
                                </div>
                                <div>
                                    <h4 class="review-title fw-bold">Would Like a reply?</h4>
                                    <h4>{{secondFormGroup.reply}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4 class="review-tile fw-bold">Comment</h4>
                                <h4>{{secondFormGroup.textArea}}</h4>
                            </div>
                            <div>
                                <h4 class="review-title fw-bold">Attachements</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="d-flex flex-column flex-lg-row justify-content-center justify-content-md-end gap-1 gap-md-3 mt-3 ">
            <button mat-button matStepperNext class=" mat-next-button px-4 py-2  " (click)="finalData()">Confirm and
                submit</button>
            <button mat-button matStepperPrevious class=" mat-previous-button px-5 py-1 ">Back</button>
        </div>

    </div>
</section>