<div class="container-fluid d-flex justify-content-center align-items-center sign-up-form h-100">
    <section class="container">
        <div class=" row row-cols-1 g-0 rounded-4 shadow-lg" style="background-color: beige;">
            <div class=" d-none d-md-block col-md-6 rounded-start h-100 order-2">
                <div class="h-100 signup-img-container">
                    <img src="../../assets/signup-form-img.jpg" class=" signup-img img-fluid rounded-3 ">
                    <div class="signup-imgText">
                        <p class=" display-4 ">Fly with us</p>
                        <p class=" display-6">We'll make your Journey Memorably....</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center h-100 rounded-4 order-1">
                <div class=" rounded border-0 p-5">
                    <form [formGroup]="signupForm" #ref="ngForm" (ngSubmit)="ref.valid && onSubmit()">
                        <!-- username -->
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput id="username" formControlName="username"
                                placeholder="Ex. John Doe">
                            <mat-error *ngIf="!username.valid && !username.touched">
                                Please enter a
                                valid
                                username!</mat-error>
                        </mat-form-field>

                        <div class="row">
                            <!-- mobile number -->
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile Number</mat-label>
                                    <input type="number" matInput id="mobile" formControlName="mobile">
                                    <mat-error>Please enter a valid Mobile-No!</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- E-mail -->
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>E-mail</mat-label>
                                    <input type="email" matInput id="email" formControlName="email"
                                        placeholder="Ex. abc@example.com">
                                    <mat-error>Please enter a valid
                                        Email!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- password -->
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Password" formControlName="password"
                                [type]="hide ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                            <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}}
                                characters
                            </mat-error>
                        </mat-form-field>
                        <!-- submit button -->
                        <button mat-raised-button type="submit" class="d-block w-100" color="primary">Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>