<form [formGroup]="secondFormGroup" #ngForm2="ngForm">
    <!-- confirmation and ticket section -->
    <section class="card shadow border-0">
        <div class="card-body">
            <div class="row row-cols-1 ">
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <h4>In order to assist you faster,Please lookup your flight details by providing your
                                Confirmation #
                                and Ticket #. Your Full Name must match your Ticket #. Don't have your Confirmation
                                # or
                                tickeet
                                #?
                                Check the Box below to continue wth partial (or no) flight information
                            </h4>
                        </div>
                        <div class="col-12 col-lg-5">
                            <h4 class="text-start text-lg-end fw-bold">All fileds required unless noted</h4>
                        </div>

                    </div>
                    <div class="row">
                        <div class=".col-12 col-lg-6">
                            <h3 class="text-secondary fw-bold">Full Name</h3>
                            <span>{{fullname.value?.firstName| titlecase}} {{fullname.value?.lastName
                                | titlecase}}</span>

                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Confirmation#</mat-label>
                                        <input matInput type="number" placeholder="Confirmation#"
                                            formControlName="confirmationNumber">
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-7">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ticket#</mat-label>
                                        <input matInput type="number" placeholder="Ticket#" formControlName="ticket">
                                    </mat-form-field>
                                </div>
                                <div class="d-flex justify-content-start justify-content-md-end">
                                    <mat-checkbox class="example-margin " color="primary" (change)="disableOption($event)">I don't
                                        have my
                                        Confirmation#
                                        or Ticket#</mat-checkbox>
                                </div>
                                <div *ngIf="!isDisable">
                                    <button mat-button class="lookupBtn d-block ms-auto mt-3 px-4 py-2"> Lookup
                                        Flight
                                        Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3" *ngIf="isDisable">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dateOfFlight">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Flight Number</mat-label>
                                    <input type="number" matInput placeholder="Flight Number"
                                        formControlName="flightNumber">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Flight Name</mat-label>
                                    <mat-select formControlName="flightName">
                                        <mat-option value="indigo">Indigo </mat-option>
                                        <mat-option value="jetairways">Jet airways </mat-option>
                                        <mat-option value="airAsia">Air asia</mat-option>
                                        <mat-option value="qatarAirways">Qatar Airways</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label></mat-label>
                                    <input matInput type="text" placeholder="Origin" formControlName="origin">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Destination</mat-label>
                                    <input matInput type="text" placeholder="Destination" formControlName="destination">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Attachements and Comment Section -->
    <section class="my-4">
        <div class="card border-0 bg-white shadow py-3">
            <div class="card-body">
                <div class="row row-cols-1">
                    <div class="col">
                        <h4 class="text-end fw-bold">All fileds required unless noted</h4>
                    </div>
                    <div class="col">
                        <h4 class="my-3">Please provide additional details below.(1500 character limit)</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Textarea</mat-label>
                            <textarea matInput formControlName="textArea"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button mat-button class="file-btn fw-bold"><input type="file"
                                accept=".jpg, .jpeg, .png, .pdf, .docx , .doc , .xls , .xlsx, .ppt , .pptx .csv"
                                (change)="file($event)"> + Add an
                            Attachement</button>
                        <h4>Maximum number of Attachments: 5 items. Maximum file size: 25MB. Accepted file types:
                            JPEG,
                            JPG, PNG, PDF, PPT, PPTX, CSV, DOCX, DOC, XLSX, XLS.</h4>
                    </div>
                    <div class="col">
                        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3">
                            <div class="col" *ngFor="let file of fileArray index as i ">
                                <div class="d-flex justify-content-center attach-file pt-3 pb-2 rounded">
                                    <mat-icon class="pe-3">attach_file</mat-icon>
                                    <h4 class="overflow-Content">{{file.name}}</h4>
                                    <mat-icon class="close-icon text-danger ps-2" role="button"
                                        (click)="removeFile(file,i)">close
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h4>Would you like a reply?</h4>
                        <mat-radio-group aria-label="Select an option" formControlName="reply">
                            <mat-radio-button value="yes">Yes</mat-radio-button>
                            <mat-radio-button class="ms-3" value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column flex-lg-row justify-content-center justify-content-md-end gap-1 gap-md-3 ">
                <button mat-button matStepperNext class=" mat-next-button px-4 py-2  " (click)="sendData()">Continue to
                    Review</button>
                <button mat-button matStepperPrevious class=" mat-previous-button px-5 py-1 ">Back</button>
            </div>
        </div>
    </div>

</form>